# If this is your first time writing a language grammar, check out:
#   - https://flight-manual.atom.io/hacking-atom/sections/creating-a-grammar/

'scopeName': 'source.zon'
'name': 'Zon'
'fileTypes': [
  'zon'
]
'patterns': [
  # comments
  {
    'match': '//.*$'
    'name': 'comment.line.zig'
  },
  # strings
  {
    'match': '\\"[^\\"]*\\"'
    'name': 'string.literal.zig'
  },
  # literals
  {
    'match': '(^|(?<!\\w))(true|false|null|undefined|struct|enum)((?!\\w)|$)'
    'name': 'constant.literal.zig'
  },
  { # ints/floats
    'match': '(^|(?<!\\w))[0-9]+\\.?[0-9a-zA-Z]*((?!\\w)|$)'
    'name': 'constant.literal.zig'
  },
  { # hex
    'match': '(^|(?<!\\w))0x[0-9]+((?!\\w)|$)'
    'name': 'constant.literal.zig'
  },
  # values
  {
    'match': '(\\w+)((?=((\\s*\\=)|(\\s*:)))|$)'
    'name': 'variable.other.readwrite.zig'
  },
  {
    'match': '(?<=(\\|\\s*))(\\w+)((?=(\\s*\\|))|$)'
    'name': 'variable.other.readwrite.zig'
  }
]

'comments':
  'start': '// '
  'line': '//'
